menu a {
  text-decoration-line: none;
  text-decoration: none;
  text-shadow: #6e6ec5 1px 1px 3px;
  display: inline;
  color: #6e6ec5;
  font-size: 2.5em;
}
menu {
  display: flex;
  padding: 0;
  margin: 6px 0px 6px 0px;
  list-style-type: none;
  justify-content: space-around;
  border-bottom: #6e6ec5 solid 2px;
}
menu li {
  display: inline;
}
menu li :hover {
  color: rgb(98, 98, 161);
}
.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news_block {
  padding: 1px;
  margin: 6px;
}
.time_news {
  background-color: #b7b7e4;
  border-radius: 10px 10px 0 0;
  padding: 3px;
}
.text_news {
  padding: 30px;
  background-color: rgb(242, 241, 248);
  font-size: 1.5em;
}

@media only screen and (max-width: 815px) {
  .news_block {
    padding: 1px;
    width: 700px;
    margin: 6px;
  }
  .time_news {
    background-color: #b7b7e4;

    border-radius: 10px 10px 0 0;
    padding: 3px;
  }
  .text_news {
    padding: 19px;
    background-color: rgb(242, 241, 248);
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 615px) {
  .news_block {
    padding: 1px;
    width: 250px;
    margin: 6px;
  }
  .time_news {
    background-color: #b7b7e4;

    border-radius: 10px 10px 0 0;
    padding: 3px;
  }
  .text_news {
    padding: 6px;
    background-color: rgb(242, 241, 248);
    font-size: 1em;
  }
  menu a {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 530px) {
  .news {
    display: flex;
  }

  .news_block {
    padding: 1px;
    width: 330px;
    margin: 5px 3px;
    justify-content: center;
  }
  .time_news {
    background-color: #b7b7e4;

    border-radius: 10px 10px 0 0;
    padding: 3px;
  }
  .text_news {
    padding: 6px;
    background-color: rgb(242, 241, 248);
    font-size: 0.9em;
  }
  menu a {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 320px) {
  .news_block {
    padding: 1px;
    width: 230px;
    margin: 20px auto;
  }
  .time_news {
    background-color: #b7b7e4;

    border-radius: 10px 10px 0 0;
    padding: 3px;
  }
  .text_news {
    padding: 6px;
    background-color: rgb(242, 241, 248);
    font-size: 0.8em;
  }
  menu a {
    font-size: 0.9em;
  }
}
