.slider-container {
  display: flex;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
  overflow: hidden;
}
.sliders {
  position: relative;
  width: 50%;
  max-width: 800px;
  margin: 20px 10px;
  overflow: hidden;
}
.sliders h2 {
  text-align: center;
}
.slide {
  display: none;
  width: auto;
  height: 250px;
}
.slide img {
  width: 100%;
  height: auto;
}
