.form-actions {
  display: flex;
  align-items: center;
}
.form-actions .nav-link {
  margin-left: 10px; /* Отступ между кнопкой и ссылкой */
}
.profile-img {
  border-radius: 100%;
  max-width: 200px;
  max-width: 30%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-actions {
  display: flex;
  align-items: center;
}
.form-actions .nav-link {
  margin-left: 10px; /* Отступ между кнопкой и ссылкой */
}
.profile-img {
  border-radius: 100%;
  max-width: 200px;
  max-width: 30%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
