{% extends "base.html" %} 
{% block content %}

<p>Организация МНОО "ЗАСТАВА-86", находящаяся по адресу Ханты-Мансийский Автономный округ - Югра, г Нижневартовск, ул Маршала Жукова, д 8А, кв 68, была зарегистрирована 29-10-2014 с присвоением ИНН 8603998369 и ОГРН 1148600001252. Руководителем организации является Левченко Александр Николаевич. </p>
<p>Основным видом деятельности организации является Деятельность прочих общественных организаций, не включенных в другие группировки. Текущий статус организации действующая.</p>

{% endblock %}