{% extends "base.html" %}

{% block content %}
<style>
    .Btn {
        display: flex;
        justify-content: space-around;
    }
    .prevBtn {
        width: 50%;
        border: none;
        margin-right: 1px;
    }
    .nextBtn {
        width: 50%;
        border: none;
        margin-left: 1px;
    }    
</style>
 <div class="slider-container">
    {% for group in groups %}
        <div class="sliders">
            <h2>{{ group.name }}</h2>
            <div class="slider" >
                <div class="slidery" >
                    {% for image in group.image_set.all %}
                        <img src="{{ image.image.url }}" alt="{{ image.description }}" class="slide" >
                    {% endfor %}
                </div>
                <div class="Btn">
                    <button class="prevBtn" onclick="prevImage(this)">Назад</button>
                    <button class="nextBtn" onclick="nextImage(this)">Следующий</button>
                </div>  
            </div>
        </div>
    {% endfor %}
</div> 
{% endblock %}
   