{% extends "base.html" %}
{% block content %}


<style>
    .form-actions {
        display: flex;
        align-items: center;
    }
    .form-actions .nav-link {
        margin-left: 10px; /* Отступ между кнопкой и ссылкой */
    }
</style>

    <div class="container">
        <h2>Вход в систему</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <div class="form-actions">
                <button type="submit" class="btn btn-dark">Войти</button>
                <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
            </div>
        </form>
    </div>

{% endblock content %}