{% extends "base.html" %}
{% block content %}


{% comment %} <style>
    .form-actions {
        display: flex;
        align-items: center;
    }
    .form-actions .nav-link {
        margin-left: 10px; /* Отступ между кнопкой и ссылкой */
    }
</style> {% endcomment %}


    <div class="container">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <div class="form-actions">
                <button type="submit" class="btn btn_custom">Зарегистрироваться</button>
                <a class="nav-link" href="{% url 'users:login' %}">Войти</a> 
            </div>
        </form>
    </div>

{% endblock content %}