{% extends "base.html" %}
{% block content %}

    <style>
        .z-1 {
            display: flex;
            justify-content: flex-end
        }
        .z-1 li {
            display: flex;
            display: inline;
        }
        .navbar-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .nav-item {
            margin-right: 10px;
            display: flex;
        }
        .nav-link {
            text-decoration: none;
            color: #000;
        }
        .nav-link:hover {
            text-decoration: underline;
        }
        .nav-item:last-child .nav-link {
            margin-left: 0px;
        }

        .cards {
            display: flex;
            width: 300px;
            color: #000;
            text-decoration: none;
        }
        .cards ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .cards a {
            text-decoration: none;
            color: #000;
        }
        .cards a:hover {
            font-size: 22px; /* Увеличиваем шрифт на 2px при наведении */
        }
        .cards img {
            width: 300px;
        }
    </style>
    <div class="z-1">
        <ul class="navbar-nav"> <!-- Элементы правой части без выравнивания по левому краю -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:profile' pk=user.pk %}">Вы вошли как, {{ user.username }}  /</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
            </li> {% endcomment %}
            {% endif %}
          </ul>
    </div>

    <div class="cards">
        <ul>
            {% for card in cards %}
            <a href="{% url 'card_list' category_id=card.category.id %}">
                <li>
                    <h2>{{ card.title }}</h2>
                    <img src="{{ card.image.url }}" alt="{{ card.title }}">
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>

    
    {% block curses %}
    {% endblock %}

{% endblock content %}

